* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4oMbW?ver=6d41&q=90&m=6&h=1192&w=2120&b=%23FFFFFFFF&l=f&f=jpg&o=t&aim=true);
  background-size: cover;
  color: #000;
  text-align: left;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: left;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.facebook {
  background-color: #005293;
  margin-right: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #fff;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 45px;
  padding: 0 25px;
  margin: 10px 5px;
  color: #000;
  display: block;
  float: left;
  transition: all 0.2s;
}

.header-right a:hover {
  color: #005293;
  border-bottom: 3px solid #005293;
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  color: #005293;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  animation-name: example;
  height: 200px;
  width: 200px;
  animation-duration: 50s;
  border: 5px solid #000;
}

/* The animation code */
@keyframes example {
  from {border: 5px solid #000;}
  to {border: 10px solid yellow;}
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #000;
}

.heading h3 {
  font-weight: normal;
  color: #000;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #005293;
  cursor: pointer;
  box-shadow: 0 7px #000;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
